*{
    margin: 0px;
    padding: 0px;
    /* background-color: #000; */
}
.weather-box{
    background-color: #8ab9b1;
    margin: 100px auto 0!important;
    width: 400px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.search input{
    height: 50px;
    outline: 0;
    padding: 10px 25px ;
    color: #000;
    background-color: #fff;
    border-radius: 100px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
    border-width: 0px!important;
    
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search img{
    width: 20px;
}
.weather img{
    width: 170px;
}
.details{
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    display: none;
}