*{
    margin: 0px;
    padding: 0px;
}
.weather-box{
    background-color: black;
    margin: 100px auto 0!important;
    width: 400px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.search {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.search input{
    height: 50px;
    border: 1px solid ;
    outline: 0;
    padding: 10px 25px ;
    color: #000;
    background-color: #fff;
    border-radius: 100px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
    
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search img{
    width: 20px;
}
